In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('F:\Data_science_work\ML-P001-\music.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     18 non-null     int64
 1   gender  18 non-null     int64
 2   genre   18 non-null     object
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

In [4]:
data.shape

(18, 3)

In [5]:
data.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [6]:
data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [7]:
### Spliting the data into two sets : input set and output set

In [8]:
X = data.drop(columns='genre')
y = data['genre']

In [9]:
X.head()

   age  gender
0   20       1
1   23       1
2   25       1
3   26       1
4   29       1

In [10]:
y.head()

0    HipHop
1    HipHop
2    HipHop
3      Jazz
4      Jazz
Name: genre, dtype: object

In [15]:
### Importing Decision Tree from sklearn

from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

In [16]:
model.fit(X, y)

DecisionTreeClassifier()

In [17]:
predictions = model.predict([ [21, 1], [22, 0] ])
predictions

array(['HipHop', 'Dance'], dtype=object)

In [18]:
### Measuring accurecy of model

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib


# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)
# model.fit(X_train, y_train)

# joblib.dump(model, 'music_model.joblib')

# predictions = model.predict(X_test)

# score = accuracy_score(y_test, predictions)
# score

model = joblib.load('music_model.joblib')

predictions = model.predict([[21, 1]])

predictions

array(['HipHop'], dtype=object)

In [47]:
from sklearn import tree

In [52]:
tree.export_graphviz(model, 
                    out_file = 'music-recomender.dot',
                    feature_names = ['age', 'gender'],
                    class_names = sorted(y.unique()),
                    label = 'all',
                    rounded = True,
                    filled =True)